h1 {
    font-family: 'Lemon', serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 7px;
    background: linear-gradient(#76c2e9, #5d34b6);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}

@keyframes text {
    0% {
        filter: hue-rotate(30deg);
    }

    100% {
        filter: hue-rotate(-240deg);
    }
}

.overlay-image {
    position: absolute;
    top: 35%;
    left: 8%;
    width: 180px;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(162, 237, 227, 0.412);
    height: auto;
    opacity: 0.7;
    transform: rotate(-10deg);
}

.overlay-image:hover {
    transform: scale(1.1);
}

.gif-image{
    position: absolute;
    top: 32%;
    right: 8%;
    width: 240px;
    height: auto;
    opacity: 0.7;
}